/*
 * These styles are essential to the slider's functionality.
 *
 * Change the ".plusSliderContainer" selector as needed for your html (it's the div that surrounds all content).
 *
 * Do NOT change the ".plusSlider" or ".plusTypeFader" selectors (they're automatically inserted by the plugin and never change).
 *
 */
 
.plusSliderContainer {
	position: relative;
	left: 0;
}

.plusSlider {
	overflow: hidden;
	position: relative;
	/* width: 630px; /* Change this to your slider's width. Not needed if you set explicit width js option when initializing slider */
	/* height: 290px; /* Change this to your slider's height. Not needed if you set explicit height js option when initializing slider */
}

.plusSlider .child {
	float: left;
}

/* PlusFader Specific (not needed with sliderType:slider, OR if you set paginationBefore:true when initializing slider) */
.plusTypeFader .child {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
}
.plusTypeFader .plusSlider-controls {
	position: relative;
	z-index: 200;
}

/* no-javascript fallback */
.plusSliderContainer > * {
	display: none;
}
.plusSliderContainer > *:first-child {
	display: block;
}
/* end no-javascript fallback */

